Objective: 

Get an overview of local spending in Portugal

In [10]:
import pandas as pd

In [11]:
ls data

AIIIDM2010.csv  AIIIDM2014.csv  AIIRM2012.csv  AIVRH2010.csv  AIVRH2014.csv
AIIIDM2011.csv  AIIIDM2015.csv  AIIRM2013.csv  AIVRH2011.csv  AIVRH2015 (1).csv
AIIIDM2012.csv  AIIRM2010.csv   AIIRM2014.csv  AIVRH2012.csv  AIVRH2015.csv
AIIIDM2013.csv  AIIRM2011.csv   AIIRM2015.csv  AIVRH2013.csv

In [21]:
receita = {}
despesa = {}
for year in range(2010,2016):
    receita[str(year)] = pd.read_csv('data/AIIRM'+str(year)+'.csv', sep=';')
    despesa[str(year)] = pd.read_csv('data/AIIIDM'+str(year)+'.csv', sep=';')

In [43]:
some_data = receita['2012']
sorted(some_data.columns)

['CODIGOINE',
 'CODIGO_PERIODO',
 'DERRAMA_IRC',
 'DSC_AUTARQUIA',
 'FINANCIAMENTO_UNIAO_EUROPEIA',
 'IMI',
 'IMPOSTOS_MUNICIPAIS',
 'IMT',
 'IUC',
 'OUTRAS_RECEITAS',
 'RECEITAS_TOTAIS',
 'TAXAS_MULTAS_OUTROS_IMPOSTOS',
 'TRANSFERENCIAS_ORCAMENTO_ESTADO',
 'VENDA_BENS_SERVICOS',
 'ldk']

We seem to have data per period, pre-aggregated. Let's keep only the Q4 data?

In [34]:
data = receita['2014']

data[data.DSC_AUTARQUIA == 'ABRANTES']

,IMI,TAXAS_MULTAS_OUTROS_IMPOSTOS,FINANCIAMENTO_UNIAO_EUROPEIA,IMPOSTOS_MUNICIPAIS,IUC,TRANSFERENCIAS_ORCAMENTO_ESTADO,ldk,IMT,CODIGO_PERIODO,CODIGOINE,DSC_AUTARQUIA,VENDA_BENS_SERVICOS,DERRAMA_IRC,RECEITAS_TOTAIS,OUTRAS_RECEITAS
0,70321.90,71871.63,80219.97,675191.48,194859.79,2697351,T1_1401,280692.96,T1,1401,ABRANTES,1680673.01,57445.20,5551328.25,417892.79
308,2250619.54,112261.66,469839.15,3209287.23,391711.73,5394702,T2_1401,392766.14,T2,1401,ABRANTES,2549799.32,61928.16,12290427.08,666799.38
616,2810954.16,152644.13,843409.96,5111293.43,585537.09,8092053,T3_1401,412205.55,T3,1401,ABRANTES,3088345.17,1149952.50,18118247.03,983145.47
924,3737337.24,220334.53,1256269.27,6417240.83,760108.76,10789430,T4_1401,531380.37,T4,1401,ABRANTES,4182982.33,1168079.93,23884396.14,1238473.71
1232,3737337.24,220334.53,1256269.27,6417240.83,760108.76,10789430,A_1401,531380.37,A,1401,ABRANTES,4182982.33,1168079.93,23884396.14,1238473.71

In [40]:
yearly_data = data[data['CODIGO_PERIODO'] == 'A']

In [38]:
data['CODIGO_PERIODO'].value_counts()

T1    308
T3    308
T2    308
T4    308
A     308
Name: CODIGO_PERIODO, dtype: int64

In [33]:
data = receita['2015']

data[data.DSC_AUTARQUIA == 'ABRANTES']

,IMI,TAXAS_MULTAS_OUTROS_IMPOSTOS,FINANCIAMENTO_UNIAO_EUROPEIA,IMPOSTOS_MUNICIPAIS,IUC,TRANSFERENCIAS_ORCAMENTO_ESTADO,ldk,IMT,CODIGO_PERIODO,CODIGOINE,DSC_AUTARQUIA,VENDA_BENS_SERVICOS,DERRAMA_IRC,RECEITAS_TOTAIS,OUTRAS_RECEITAS
0,90037.97,56012.26,287763.93,584345.66,189338.88,2836143,T1_1401,248956.55,T1,1401,ABRANTES,1750102.53,0.00,5748876.59,290521.47
308,2347232.96,106120.93,352355.49,3235672.83,385603.60,5672286,T2_1401,395015.53,T2,1401,ABRANTES,2507379.74,1699.81,12304785.30,537091.24

In [30]:
for column in sorted(receita['2014'].columns):
    print column
    print receita['2014'][column].head(2)

CODIGOINE
0    1401
1     101
Name: CODIGOINE, dtype: int64
CODIGO_PERIODO
0    T1
1    T1
Name: CODIGO_PERIODO, dtype: object
DERRAMA_IRC
0     57445.20
1    132803.45
Name: DERRAMA_IRC, dtype: float64
DSC_AUTARQUIA
0    ABRANTES
1      ï¿½GUEDA
Name: DSC_AUTARQUIA, dtype: object
FINANCIAMENTO_UNIAO_EUROPEIA
0     80219.97
1    487498.18
Name: FINANCIAMENTO_UNIAO_EUROPEIA, dtype: float64
IMI
0     70321.90
1    180002.21
Name: IMI, dtype: float64
IMPOSTOS_MUNICIPAIS
0    675191.48
1    848129.16
Name: IMPOSTOS_MUNICIPAIS, dtype: float64
IMT
0    280692.96
1    154548.04
Name: IMT, dtype: float64
IUC
0    194859.79
1    283519.10
Name: IUC, dtype: float64
OUTRAS_RECEITAS
0    417892.79
1    667548.33
Name: OUTRAS_RECEITAS, dtype: float64
RECEITAS_TOTAIS
0    5551328.25
1    4770559.97
Name: RECEITAS_TOTAIS, dtype: float64
TAXAS_MULTAS_OUTROS_IMPOSTOS
0    71871.63
1    97256.36
Name: TAXAS_MULTAS_OUTROS_IMPOSTOS, dtype: float64
TRANSFERENCIAS_ORCAMENTO_ESTADO
0    2697351
1    1980895
Name: TRANSFERENCIAS_ORCAMENTO_ESTADO, dtype: float64
VENDA_BENS_SERVICOS
0    1680673.01
1     786489.30
Name: VENDA_BENS_SERVICOS, dtype: float64
ldk
0    T1_1401
1    T1_0101
Name: ldk, dtype: object